mixin room(number, price, rate, review, href, luxe, ...images)
  .room 
    .room__slider.swiper-container
      .swiper-wrapper
        each image in images 
          .swiper-slide
            img.room__slide(src=image, alt="room")
      .swiper-pagination
      .swiper-button-prev.swiper-button-hidden
      .swiper-button-next.swiper-button-hidden
    .room__info 
      .room__top 
        a(href=href).room__title <span>№ </span> #{number}
        if luxe
          span.room__luxe люкс
        .room__price #{price}₽ <span>в сутки</span>
      .room__bottom 
        +rate(rate)
        .room__review #{review} <span>Отзывов</span>
